#section-home {
  background-color: lightseagreen;
  background-repeat: no-repeat;
  background-size: cover;
  height: 112vh;
  width: 100%;
  position: relative;
  z-index: 10; }
  #section-home__heading-box {
    width: 10rem;
    background-color: rebeccapurple; }

#navigation {
  width: 100%;
  height: 3rem;
  --background-color: $opacity;
  display: flex;
  justify-content: center;
  z-index: 100; }
  #navigation a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    margin-left: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62 .5rem; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
