*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62 .5rem; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

#section-home {
  /*background-image: url("/img/background.jpg");*/
  background-image: linear-gradient(to right bottom, #caa596, #dabeb3, #e6d3cc, #f0dfda, #f7e7e4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 112vh;
  width: 100%;
  z-index: 1;
  top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 83%, 0 100%); }
  @media only screen and (max-width: 80.88em) {
    #section-home {
      height: 92vh; } }

#heading-box {
  background-color: rgba(255, 255, 255, 0.36);
  align-self: center;
  padding: 2rem;
  text-align: center;
  line-height: 4rem;
  color: #535050;
  border-radius: 4px; }
  #heading-box__text {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 4px; }
  #heading-box__subtext {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 4px; }

#section-about {
  background-color: #f7e7e4;
  height: 112vh;
  width: 100%;
  z-index: 1;
  margin-top: -19vh;
  position: relative;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 50% 83%, 0 100%); }
  @media only screen and (max-width: 80.88em) {
    #section-about {
      height: 92vh; } }

.section-title {
  font-size: 25px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 8.5%; }
  @media only screen and (max-width: 43.1em) {
    .section-title {
      top: 17%; } }

.container-about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 25% 50% 25%; }
  @media only screen and (max-width: 80.88em) {
    .container-about {
      grid-template-columns: 1fr 4fr 4fr 1fr; } }
  @media only screen and (max-width: 56.25em) {
    .container-about {
      grid-template-columns: 1.2rem 3fr 3fr 1.2rem; } }
  .container-about__text-box {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    text-align: right; }
    @media only screen and (max-width: 43.1em) {
      .container-about__text-box {
        grid-column: 2/span 2;
        text-align: justify; } }
  .container-about__text {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #6a3621;
    line-height: 2; }
    @media only screen and (max-width: 56.25em) {
      .container-about__text {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #6a3621;
        line-height: 2; } }
    @media only screen and (max-width: 68em) {
      .container-about__text {
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #6a3621;
        line-height: 2; } }
    @media only screen and (max-width: 80.88em) {
      .container-about__text {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #6a3621;
        line-height: 2; } }
  .container-about__image-shape {
    grid-column: 3/4;
    grid-row: 2/3;
    max-width: 25rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden; }
    @media only screen and (max-width: 43.1em) {
      .container-about__image-shape {
        display: none; } }
  .container-about__image {
    width: 90%;
    transform: translate(2rem, -2rem); }

#section-skills {
  background-color: #f0dfda;
  height: 112vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: -20vh;
  position: relative;
  clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 50% 83%, 0 100%); }
  @media only screen and (max-width: 80.88em) {
    #section-skills {
      height: 92vh; } }

.section-title {
  font-size: 25px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 8.5%; }
  @media only screen and (max-width: 43.1em) {
    .section-title {
      top: 17%; } }

.skill {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all .2s; }
  .skill__image {
    font-size: 6rem;
    color: #dabeb3; }
    @media only screen and (max-width: 68em) {
      .skill__image {
        font-size: 4rem; } }
  .skill__text {
    color: #6a3621;
    letter-spacing: 2px;
    position: absolute;
    opacity: 0;
    backface-visibility: hidden;
    text-align: center;
    line-height: 1.2rem;
    justify-self: center;
    align-self: center; }
  .skill__effect:hover .skill__text {
    opacity: 1; }
  .skill__effect:hover .skill__image {
    color: rgba(255, 255, 255, 0.36); }
  .skill__effect .skill__text {
    transition: all 1s; }
  .skill__effect {
    display: flex;
    justify-content: center;
    align-content: center; }
    .skill__effect:hover .skill__effect__text {
      opacity: 1; }
    .skill__effect:hover .skill__effect__image {
      color: rgba(255, 255, 255, 0.36); }
    .skill__effect .skill__effect__text {
      transition: all 1s; }
  .skill__1 {
    grid-row: 2/3;
    grid-column: 2/3; }
  .skill__2 {
    grid-row: 2/3;
    grid-column: 3/4; }
  .skill__3 {
    grid-row: 2/3;
    grid-column: 4/5; }
  .skill__4 {
    grid-row: 2/3;
    grid-column: 5/6; }
  .skill__5 {
    grid-row: 2/3;
    grid-column: 6/7; }
  .skill__6 {
    grid-row: 3/4;
    grid-column: 2/3; }
  .skill__7 {
    grid-row: 3/4;
    grid-column: 3/4; }
  .skill__8 {
    grid-row: 3/4;
    grid-column: 4/5; }
  .skill__9 {
    grid-row: 3/4;
    grid-column: 5/6; }
  .skill__10 {
    grid-row: 3/4;
    grid-column: 6/7; }

#section-projects {
  background-color: #e6d3cc;
  z-index: 1;
  display: flex;
  height: 330vh;
  margin-top: -9rem;
  flex-direction: column;
  align-items: center;
  display: flex; }

.project {
  width: 60vw;
  margin-top: 16rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 3rem;
  grid-template-rows: repeat(4, 1fr); }
  .project__box img {
    height: auto;
    width: 29rem;
    margin-right: 4rem; }
  .project__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.527);
    border: 1rem solid rgba(255, 255, 255, 0.575);
    padding: 1.2rem; }
  .project__box-1 {
    transition: all .4s;
    border-radius: 2%;
    grid-column: 1/2;
    grid-row: 1/2; }
    .project__box-1:hover {
      transform: scale(1.07);
      opacity: 0.6; }
    .project__box-1__technologies {
      align-self: flex-start; }
      .project__box-1__technologies h4 {
        font-size: 1.5em;
        font-weight: 200;
        text-align: center; }
  .project__box-2 {
    transition: all .4s;
    border-radius: 2%;
    grid-column: 1/2;
    grid-row: 2/3; }
    .project__box-2:hover {
      transform: scale(1.07);
      opacity: 0.6; }
    .project__box-2__technologies h4 {
      font-size: 1.5em;
      font-weight: 200;
      text-align: center; }
  .project__box-3 {
    transition: all .4s;
    border-radius: 2%;
    grid-column: 1/2;
    grid-row: 3/4; }
    .project__box-3:hover {
      transform: scale(1.07);
      opacity: 0.6; }
    .project__box-3__technologies h4 {
      font-size: 1.5em;
      font-weight: 200;
      text-align: center; }
  .project__box-4 {
    transition: all .4s;
    border-radius: 2%;
    grid-column: 1/2;
    grid-row: 4/5; }
    .project__box-4:hover {
      transform: scale(1.07);
      opacity: 0.6; }
    .project__box-4__technologies h4 {
      font-size: 1.5em;
      font-weight: 200;
      text-align: center; }

.project__btn {
  margin-top: 1.5rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  color: #6a3621;
  font-size: 13px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
  background-color: #f7e7e4;
  padding: 10px;
  cursor: pointer;
  transition: all .3s; }
  .project__btn:hover {
    transform: scale(1.08);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
    border: 2px; }
  .project__btn:active {
    border: none; }
  @media only screen and (max-width: 80.88em) {
    .project__btn {
      margin-top: 1.5rem;
      margin-right: 0.5rem;
      color: #6a3621;
      font-size: 10px;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
      background-color: #f7e7e4;
      padding: 5px;
      cursor: pointer;
      transition: all .3s; } }
  @media only screen and (max-width: 68em) {
    .project__btn {
      margin-top: 1rem;
      align-self: center;
      color: #6a3621;
      font-size: 10px;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
      background-color: #f7e7e4;
      padding: 5px;
      cursor: pointer;
      transition: all .3s;
      display: flex;
      display: table-cell;
      vertical-align: middle; } }

.section-projects__title {
  margin-top: 126rem !important; }

@media only screen and (max-width: 1350px) {
  .project__box img {
    width: 20rem; }
  .project {
    width: 70vw; }
  .section-projects__title {
    margin-top: 110rem !important; }
  #section-projects {
    height: 300vh; } }

/*#section-projects {
    background-color:$primary-darker;
    height: 112vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0, 100% 17%, 100% 100%, 0 100%, 0 17%);

    @include respond(tab-land) {
        height: 92vh;
    }

    @include respond(phone-big) {
        height: 112vh;
    }
}

.section-projects__title {
    margin-top: 127rem !important;
}

.project {
   display: grid;
   grid-template-columns: repeat(1, 20rem);
   grid-column-gap: 1rem;
   grid-row-gap: 1rem;
   grid-template-rows: repeat(4, 20rem);
   margin-top: 20rem;
   justify-content: center;
   align-content: center;
   background-color: cadetblue;
   width: 50%;
   

    &__box {
        width: auto;
        height: 100%;  
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: crimson;
    }

    &__box img {
        height: auto;
        width: 30rem;
    }

    &__box-1 {
        width: auto;
        height: 90%;
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }


    }

    &__box-2 {
        width: 40%;
        height: 20%;
       /* margin-left: -1.7rem;
        margin-top: 2rem;
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

         &__image {
            
        }

        &__technologies {
           
        }

    }

    &__box-3 {
        width: auto;
        height: 90%;
       /* margin-left: -1.7rem;
        margin-top: 2rem;
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

         &__image {
            
        }

        &__technologies {
           
        }

    }

    &__box-4 {
        width: auto;
        height: 90%;
       /* margin-left: -1.7rem;
        margin-top: 2rem;
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

         &__image {
           
        }

        &__technologies {
          
        }

    }

    &__text {
        color: $font-color2;
        letter-spacing: 3px;
        margin-top: 1.5rem;
        font-weight: 400;
        text-align: center;
    }

    &__btn {
        margin-top: 1.5rem;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
        color: $font-color2;
        font-size: 13px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
        background-color: $primary-lightest;
        padding: 10px;
        cursor: pointer;
        transition: all .3s;
    
        &:hover {
            transform: scale(1.08);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
            border: 2px
        }

        &:active {
            border: none;
        }

        @include respond(tab-land) {
            margin-top: 1.5rem;
            margin-right: 0.5rem;
            color: $font-color2;
            font-size: 10px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
            background-color: $primary-lightest;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
        }

        @include respond(tab-medium) {
            margin-top: 1rem;
            align-self: center;
            color: $font-color2;
            font-size: 10px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
            background-color: $primary-lightest;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
            display: flex;
            display: table-cell;
            vertical-align: middle;
        }
    }
}*/
#section-contacts {
  background-color: #dabeb3;
  min-height: 12vh;
  width: 100%;
  z-index: 1;
  bottom: 0;
  display: flex;
  margin-top: -5vh;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center;
  clip-path: polygon(50% 0, 100% 17%, 100% 100%, 0 100%, 0 17%); }

#contacts-title {
  font-size: 18px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 15%; }

.contacts {
  width: 100%;
  list-style-type: none;
  display: grid;
  max-height: 14vh;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: 40% 10% 10% 40%;
  grid-row-gap: 2rem;
  grid-column-gap: 0.5rem;
  justify-content: center;
  align-items: center; }
  .contacts__1 {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    transition: all .3s; }
  .contacts__2 {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
    text-align: center;
    transition: all .3s; }
  .contacts__element {
    color: #6a3621; }
  .contacts__element-text {
    font-size: 13px;
    transition: all .3s; }
    .contacts__element-text:hover {
      font-size: 15px; }
  .contacts__element-icon {
    margin-right: 0.4rem; }
  .contacts__element-link {
    text-decoration: none;
    color: #6a3621; }

.copyright {
  color: #535050;
  font-size: 12px;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem; }

/*.section-arrows {
    font-size:23px;
    color: purple;
    position: absolute;
    transform: translate(47rem, -23.5rem);
    display: inline-block;
    width: 5px;

    &__1 {
        display: block;
    }

    &__2 {
        display: block;
    }
}
*/
.navigation {
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.36);
  display: flex;
  justify-content: center;
  z-index: 100;
  position: fixed; }
  .navigation__link {
    font-size: 12px;
    color: #6a3621;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 4rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link {
        font-size: 12px;
        color: #6a3621;
        font-weight: 500;
        letter-spacing: 3px;
        margin-left: 2rem;
        margin-top: 1rem; } }
    .navigation__link:hover {
      font-weight: 700;
      font-size: 15px; }

.currentSection {
  font-weight: 700;
  font-size: 15px; }
