*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62 .5rem; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

#section-home {
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 112vh;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center; }

#heading-box {
  background-color: rgba(255, 255, 255, 0.36);
  align-self: center;
  padding: 2rem;
  text-align: center;
  line-height: 4rem;
  color: #535050;
  border-radius: 4px; }
  #heading-box__text {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 4px; }
  #heading-box__subtext {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px; }

#section-about {
  background-color: #f7e7e4;
  height: 112vh;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  position: relative; }

.section-title {
  font-size: 25px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 8.5%; }

.container-about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 25% 50% 25%; }
  .container-about__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #6a3621;
    line-height: 2;
    align-self: center;
    text-align: right; }
  .container-about__image-shape {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden; }
  .container-about__image {
    width: 90%;
    transform: translate(2rem, -2rem); }

#section-skills {
  background-color: #f0dfda;
  height: 112vh;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  position: relative; }

.section-title {
  font-size: 25px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 8.5%; }

.skill {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all .2s; }
  .skill__image {
    font-size: 6rem;
    color: #dabeb3; }
  .skill__text {
    color: #6a3621;
    letter-spacing: 2px;
    position: absolute;
    opacity: 0;
    backface-visibility: hidden;
    text-align: center;
    line-height: 1.2rem;
    justify-self: center;
    align-self: center; }
  .skill__effect:hover .skill__text {
    opacity: 1; }
  .skill__effect:hover .skill__image {
    color: rgba(255, 255, 255, 0.36); }
  .skill__effect .skill__text {
    transition: all 1s; }
  .skill__effect {
    display: flex;
    justify-content: center;
    align-content: center; }
    .skill__effect:hover .skill__effect__text {
      opacity: 1; }
    .skill__effect:hover .skill__effect__image {
      color: rgba(255, 255, 255, 0.36); }
    .skill__effect .skill__effect__text {
      transition: all 1s; }
  .skill__1 {
    grid-row: 2/3;
    grid-column: 2/3; }
  .skill__2 {
    grid-row: 2/3;
    grid-column: 3/4; }
  .skill__3 {
    grid-row: 2/3;
    grid-column: 4/5; }
  .skill__4 {
    grid-row: 2/3;
    grid-column: 5/6; }
  .skill__5 {
    grid-row: 2/3;
    grid-column: 6/7; }
  .skill__6 {
    grid-row: 3/4;
    grid-column: 2/3; }
  .skill__7 {
    grid-row: 3/4;
    grid-column: 3/4; }
  .skill__8 {
    grid-row: 3/4;
    grid-column: 4/5; }
  .skill__9 {
    grid-row: 3/4;
    grid-column: 5/6; }
  .skill__10 {
    grid-row: 3/4;
    grid-column: 6/7; }

#section-projects {
  background-color: #e6d3cc;
  height: 112vh;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center; }

.project {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2rem 20rem 20rem 20rem 20rem 2rem;
  grid-template-rows: 10% 80% 10%; }
  .project__box {
    background-color: rgba(255, 255, 255, 0.36);
    width: 15rem;
    height: 15rem; }
  .project__text {
    color: #6a3621;
    letter-spacing: 3px;
    margin-top: 1.5rem;
    font-weight: 400;
    text-align: center; }
  .project__btn {
    margin-top: 1.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    color: #6a3621;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
    background-color: #f7e7e4;
    padding: 10px;
    cursor: pointer;
    transition: all .3s; }
    .project__btn:hover {
      transform: scale(1.08);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
      border: 2px; }
  .project__1 {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0 auto; }
  .project__2 {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 0 auto; }
  .project__3 {
    grid-row: 2/3;
    grid-column: 4/5;
    margin: 0 auto; }
  .project__4 {
    grid-row: 2/3;
    grid-column: 5/6;
    margin: 0 auto; }

#section-contacts {
  background-color: #dabeb3;
  height: 30vh;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center; }

#contacts-title {
  font-size: 20px;
  color: #6a3621;
  letter-spacing: 6px;
  font-weight: 600;
  align-self: center;
  position: absolute;
  top: 15%; }

.contacts {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-rows: 2rem 5rem;
  grid-template-columns: 22.5% 25% 15% 15% 22.5%;
  justify-content: center;
  align-content: center;
  grid-row-gap: 5rem; }
  .contacts__1 {
    grid-row: 2/3;
    grid-column: 2/3; }
  .contacts__2 {
    grid-row: 2/3;
    grid-column: 3/4; }
  .contacts__3 {
    grid-row: 2/3;
    grid-column: 4/5; }
  .contacts__element {
    color: #6a3621; }
  .contacts__element-text {
    text-transform: uppercase;
    font-size: 13px; }
  .contacts__element-icon {
    margin-right: 0.4rem; }
  .contacts__element-link {
    text-decoration: none;
    color: #6a3621; }

.copyright {
  color: #535050;
  font-size: 12px;
  width: auto;
  align-self: center;
  margin-bottom: 1rem; }

#navigation {
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.36);
  display: flex;
  justify-content: center;
  z-index: 100;
  position: fixed; }
  #navigation a {
    font-size: 12px;
    color: #6a3621;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase; }
