/*.section-arrows {
    font-size:23px;
    color: purple;
    position: absolute;
    transform: translate(47rem, -23.5rem);
    display: inline-block;
    width: 5px;

    &__1 {
        display: block;
    }

    &__2 {
        display: block;
    }
}
*/
