.navigation {
    width: 100%; 
    height: 5rem;
    background-color: $low-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    transition: all .3s ease-in;

    &__link {
        font-size: 12px;
        color: $font-color2;
        font-weight: 500;
        margin: 0 40px 0 40px;
        letter-spacing: 3px;
        padding: 0 10px 10px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s;

        @include respond(tab-port) {
            margin: 0 30px 0 30px;
        }

        @include respond(phone-big) {
            margin: 0 20px 0 20px;
        }

        @include respond(phone) {
            margin: 0 2px 0 2px;
        }

        @include respond(phone-small) {
            font-size: 9px;
            margin: 10px 1px 0 1px;
        }

    
        &:hover {
            box-shadow: 4px 10px 0.5rem rgba(0,0,0,.1);
        }
    }
}


.scrolling-active {
    background-color: white;
    box-shadow: -10px rgba(0, 0, 0, 0.158);
  }

.scrolling-active .navigation {
    background-color: white;
}

.currentSection {
    font-weight: 700;
    font-size: 15px;
}
