//COLOR PALETTE

$primary-lightest: rgb(247, 231, 228);
$primary-light: rgb(240, 223, 218);
$primary-darker: rgb(230, 211, 204);
$primary-dark: rgb(218, 190, 179);
$primary-darkest: rgb(202, 165, 150);

$low-opacity: rgba(255, 255, 255, 0.36);


$font-color: rgb(83, 80, 80);
$font-color2: rgb(106, 54, 33);