#section-about {
    background-color:$primary-lightest;
    height: 115vh;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 50% 83%, 0 100%);*/

    
    @include respond(big-desktop) {
        
    }

    
    @include respond(tab-land) {
        height: 100vh;
    }


    
    @include respond(tab-port) {
        
    }

    
    @include respond(phone-big) {
        height: 100vh;
    }

    
    @include respond(phone) {
        
    }
}

.section-title {
    @include sectionTitle; 
    
    
}

.container-about {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 4rem;

    @include respond(tab-land) {
        width: 95%;
    }

    &__text-box {
        width: 30%;
        text-align: right;
        
        @include respond(tab-land) {
            width: 40%;
        }

        @include respond(phone-big) {
            width: 80%;
            text-align: justify;
        }
        
    }

    &__text {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        color: $font-color2;
        line-height: 2;

        @include respond(phone-small) {
            font-size: 5px;
        }


        @include respond(tab-port) {
            font-size: 10px;
        }

        @include respond(tab-medium) {
            font-size: 11px;
            
        }
    }

    &__image-shape {
        width: 26rem;
        height: 26rem;
        border-radius: 50%;
        overflow: hidden;

        @include respond(phone-big) {
            display: none;
        }

        @include respond(tab-land) {
            width: 22rem;
            height: 22rem;
        }

        @include respond(tab-port) {
            width: 17rem;
            height: 17rem;
        }
    }

    &__image {
        width: 90%;
        transform: translate(2rem, -2rem);
    }
}

