#section-about {
    background-color:$primary-lightest;
    height: 115vh;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 50% 83%, 0 100%);*/
  
    @include respond(tab-land) {
        height: 100vh;
    }

    @include respond(tab-medium) {
        height: 120vh;
    }
    
    @include respond(phone-big) {
        height: 100vh;
    }
}

.section-title {
    @include sectionTitle; 
    
    
}

.container-about {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 4rem;
    position: relative;

    @include respond(tab-land) {
        width: 95%;
    }

    @include respond(tab-medium) {
        margin-top: 10rem;
    }

    @include respond(phone-big) {
        margin-top: 4rem;
    }

    &__text-box {
        width: 30%;
        text-align: right;
        
        @include respond(tab-land) {
            width: 40%;
        }

        @include respond(phone-big) {
            width: 80%;
            text-align: justify;
        }
        
    }

    &__text {
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        color: $font-color2;
        line-height: 2;

        @include respond(phone-small) {
            font-size: 5px;
        }


        @include respond(tab-port) {
            font-size: 13px;
        }


    }

    &__figure {
        position: absolute;
        height: 25rem;
        width: 18rem;
        border: 1rem solid $primary-darkest;
        transform: translate(20rem, -4rem);
        opacity: 0.7;

        @include respond(phone-big) {
            display: none;
        }
    }

    &__image {
        height:25rem;
        width:auto;
        max-width:500px;
        transform: translate(2rem, 0rem);
        box-shadow: 10px  10px 1px 1px $primary-darkest;

        @include respond(phone-big) {
            display: none;
        }
    }
}

