#section-contacts {
    background-color:$primary-dark;
    min-height: 12vh;
    width: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    margin-top: -5vh;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
    clip-path: polygon(50% 0, 100% 17%, 100% 100%, 0 100%, 0 17%);
}

#contacts-title {
    font-size: 18px; 
    color: $font-color2; 
    letter-spacing: 6px;
    font-weight: 600;
    align-self: center;
    position: absolute;
    top: 15%; 
}

.contacts {
    width: 100%;
    list-style-type: none;
    display: grid;
    max-height: 14vh;
    grid-template-rows: 2rem 2rem;
    grid-template-columns: 40% 10% 10% 40%;
    grid-row-gap: 2rem;
    grid-column-gap: 0.5rem;
    justify-content: center;
    align-items: center;

    &__1 {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        transition: all .3s;
    }

    &__2 {
        grid-row: 2/3;
        grid-column: 3/4;
        align-self: center;
        text-align: center;
        transition: all .3s;
    }


    &__element {
        color: $font-color2;

    }

    &__element-text {
        font-size: 13px;
        transition: all .3s;

        &:hover {
            font-size: 15px;
        }
    }

    &__element-icon {
        margin-right: 0.4rem;
    }

    &__element-link {
        text-decoration: none;
        color: $font-color2;
    }
}

.copyright {
    color: $font-color;
    font-size: 12px;
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

