#section-home {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 112vh;
    width: 100%;
    z-index: 1;
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 83%, 0 100%);
}

    #heading-box {
        background-color: $low-opacity;
        align-self: center;
        padding: 2rem;
        text-align: center;
        line-height: 4rem;
        color: $font-color;
        border-radius: 4px;

        &__text {
            font-size: 50px;
            font-weight: 200;
            letter-spacing: 4px;
        }

        &__subtext {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 4px;
        }
    }