#section-home {
    background-image: linear-gradient(to right bottom, 
                            
                            rgb(202, 165, 150),
                            rgb(218, 190, 179),
                            rgb(230, 211, 204),
                            rgb(240, 223, 218),
                            rgb(247, 231, 228));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 112vh;
    width: 100%;
    z-index: 1;
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 83%, 0 100%);*/

    @include respond(tab-land) {
        height: 100vh;
    }
}

#heading-box {
background-color: $low-opacity;
align-self: center;
padding: 2rem;
text-align: center;
line-height: 4rem;
color: $font-color;
border-radius: 4px;

@include respond(phone-small) {
    line-height: 3rem;
    width: 90%;
}

&__text {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 4px;

    @include respond(phone-small) {
        font-size: 30px;
    }

    @media only screen and (max-width: 800px) {
        font-size: 40px;
    }
}

&__subtext {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;

    @include respond(phone-small) {
        font-size: 15px;
    }

    @media only screen and (max-width: 800px) {
        font-size: 20px;
    }
}
}