
#section-projects {
    background-color:$primary-darker;
    min-height: 200vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: -40vh;
    justify-content: center;
    align-content: center;
    clip-path: polygon(50% 0, 100% 17%, 100% 100%, 0 100%, 0 17%);

    @include respond(tab-land) {
        height: 92vh;
    }

    @include respond(phone-big) {
        height: 112vh;
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* grid-template-columns: 2rem 20rem 20rem 20rem 20rem 2rem;
    grid-template-rows: 10% 80% 10%;

    @include respond(tab-land) {
        grid-template-columns:10rem 10rem 10rem 10rem;
        grid-column-gap: 7rem;
    }

    @include respond(tab-medium) {
        grid-template-columns:5rem 5rem 5rem 5rem;
        grid-column-gap: 10rem;
        margin-right: 3rem;
    }

    @include respond(tab-port) {
        grid-template-columns:2rem 2rem 2rem 2rem;
        grid-column-gap: 9rem;
        margin-right: 5rem;
    }

    @include respond(phone-big) {
        grid-template-columns: 1rem 3rem 1rem;
        grid-template-rows: 2rem 2rem 2rem 2rem;
        grid-column-gap: 0rem;
        grid-row-gap: 17rem;
    }*/

    &__box {
        max-width: 15rem;
        max-height: 15rem;  
        margin-bottom: 2.5rem;

        @include respond(tab-land) {
            width: 12rem;
            height: 12rem; 
        }

        @include respond(tab-medium) {
            width: 9rem;
            height: 9rem; 
        }

        @include respond(tab-port) {
            width: 8rem;
            height: 8rem; 
        }

        @include respond(tab-port) {
            width: 11rem;
            height: 11rem; 
        }



    }

    &__box img {
        height: auto;
        width: 10rem;
    }

    &__box-1 {
        width: auto;
        height: 90%;
        /*
        margin-left: -1.7rem;
        margin-top: 2rem;*/
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-2 {
        width: 40%;
        height: 20%;
       /* margin-left: -1.7rem;
        margin-top: 2rem;*/
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-4 {
        width: auto;
        height: 90%;
       /* margin-left: -1.7rem;
        margin-top: 2rem;*/
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__text {
        color: $font-color2;
        letter-spacing: 3px;
        margin-top: 1.5rem;
        font-weight: 400;
        text-align: center;
    }

    &__btn {
        margin-top: 1.5rem;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
        color: $font-color2;
        font-size: 13px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
        background-color: $primary-lightest;
        padding: 10px;
        cursor: pointer;
        transition: all .3s;
    
        &:hover {
            transform: scale(1.08);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
            border: 2px
        }

        &:active {
            border: none;
        }

        @include respond(tab-land) {
            margin-top: 1.5rem;
            margin-right: 0.5rem;
            color: $font-color2;
            font-size: 10px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
            background-color: $primary-lightest;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
        }

        @include respond(tab-medium) {
            margin-top: 1rem;
            align-self: center;
            color: $font-color2;
            font-size: 10px;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
            background-color: $primary-lightest;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
            display: flex;
            display: table-cell;
            vertical-align: middle;
        }
    }
}