#section-projects {
    background-color:$primary-darker;
    z-index: 1;
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;

    h3 {
        top: 5% !important; 

        @include respond(tab-medium) {
            margin-top: -6rem !important;
         }

        @include respond(phone-big) {
            margin-top: -6rem !important; 
        }

        @include respond(phone-small) {
            margin-top: -5rem !important;
        }
        }


}

.button__box {
    margin-top: -1rem;
    

    @include respond(tab-medium) {
        width: 27rem;
        margin-left: 3rem;
     }

     @include respond(phone-large) {
        margin-left: 5rem;
     }

     @media only screen and (max-width:422px) {
        width: 15rem;
        margin-left: 0rem;
     }
     

     &-container {
         margin:0 auto;
     }


}

.section-title {
    @include sectionTitle;  
}

.technologies {
    align-self: flex-start;
    color: $font-color2;
    margin-top: 1rem;
    width: 50%;

    @media only screen and (max-width:1390px) {
        width: 40%;
        margin-left: 1rem;
      }
    
    @include respond(tab-medium) {
        width: 80%;
        margin: 3rem auto 1rem auto;
     }

     @include respond(phone-small) {
        margin: 2rem auto 1rem auto;
        width: 60%;
    }


    h4 {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;

        @include respond(phone-small) {
            font-size: 1em;

        }
    }

    p {
        line-height: 2;
        text-align: justify;

        @include respond(phone-small) {
            font-size: 0.8em;

        }
    }

    ul {
        list-style-type: none;
        line-height: 2;
        text-align: center;
        font-weight: 500;

        @include respond(tab-port) {
            font-size: 13px;

        }
    }

    &__list {
        text-align: center !important;
        font-weight: 500;

        @include respond(phone-small) {
            font-size: 0.8em;

        }
    }
}
.project {

    /*width: 70vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 3rem;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 18rem;
    margin-bottom: 10rem;*/
    display:flex;
    flex-direction:column;
    margin-top: 15rem;
    padding: 2rem;

    @include respond(tab-medium) {
        margin-top:10rem;
     }

    /*@include respond(phone-small) {
        margin-top: 12rem;
        grid-row-gap: 1rem;
        width: 90vw;
    }

    @include respond(big-desktop) {
        width: 50vw;
    }*/

    

    &__box img {
        height: auto;
        width: 40rem;
        margin-left: 0;
        margin-right: 6rem;
        margin-bottom: 3.5rem;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);

        @media only screen and (max-width:1390px) {
           width: 34rem;
         }

        @include respond(tab-medium) {
            margin-right: 0;
            margin-bottom: 1rem;
            width: 33rem;
         }

         @include respond(phone-big) {
            width: 29rem;
        }

        @include respond(phone-small) {
            width: 15rem;
        }

        @media only screen and (max-width: 630px) {
            width: 27rem;
        }

        @media only screen and (max-width: 516px) {
            width: 22rem;

        }

        @media only screen and (max-width:422px) {
            width: 19rem;
            
         }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.774);
        border: 1rem solid rgba(255, 255, 255, 0.575);
        padding: 2rem;
        margin: 1rem 0 1rem 0;

        @include respond(tab-medium) {
           flex-direction: column;
        }

        @media only screen and (max-width: 630px) {
            padding:1rem;
        }

        @media only screen and (max-width: 558px) {
            padding: 1rem 0 0 0;

        }
    }

    &__box-1 {
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }
    }

    &__box-2 {
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-3 {
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-4 {
        transition: all .4s;
        border-radius: 2%;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }
    }
}

.image__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 2rem;

    @include respond(tab-medium) {
        margin-left:0;
     }
}

.project__btn {
    width: 8rem;
    margin-top: 3rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    color: $font-color2;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
    background-color: $primary-lightest;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;

    @include respond(tab-medium) {
        margin-top: 2rem;
     }

     @include respond(phone-small) {
        width: 7rem;
        padding: 8px;
        margin: 10px auto;
        font-size: 10px;
    }

    &:hover {
        opacity: 0.5;
    }

    &:active {
        border: none;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}
