#section-projects {
    background-color:$primary-darker;
    z-index: 1;
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        top: 5% !important; 

        @include respond(phone-big) {
            top: 3.5% !important; 
        }

        @include respond(phone-small) {
            top: 2.2% !important; 
        }
        }

}

.section-title {
    @include sectionTitle;  
}

.technologies {
    align-self: flex-start;
    color: $font-color2;
    margin-top: 1rem;
    
    @include respond(tab-medium) {
        width: 80%;
        margin: 3rem auto 1rem auto;
     }

     @include respond(phone-small) {
        margin: 2rem auto 1rem auto;
        width: 100%;

    }

    h4 {
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;

        @include respond(phone-small) {
            font-size: 1em;

        }
    }

    p {
        line-height: 2;
        text-align: justify;

        @include respond(phone-small) {
            font-size: 0.8em;

        }
    }

    ul {
        list-style-type: none;
        line-height: 2;
        text-align: center;
        font-weight: 500;

        @include respond(phone-small) {
            font-size: 0.8em;

        }
    }

    &__list {
        text-align: center !important;
        font-weight: 500;

        @include respond(phone-small) {
            font-size: 0.8em;

        }
    }
}
.project {

    width: 70vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 3rem;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 18rem;
    margin-bottom: 10rem;

    @include respond(phone-small) {
        margin-top: 12rem;
        grid-row-gap: 1rem;
        width: 90vw;
    }

    @include respond(big-desktop) {
        width: 50vw;
    }

    

    &__box img {
        height: auto;
        width: 30rem;
        margin-left: 0;
        margin-right: 6rem;
        margin-bottom: 2rem;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);

        @include respond(tab-medium) {
            margin-right: 0;
            margin-bottom: 1rem;
         }

         @include respond(phone-big) {
            width: 25rem;
        }

        @include respond(phone-small) {
            width: 15rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.774);
        border: 1rem solid rgba(255, 255, 255, 0.575);
        padding: 1.2rem;

        @include respond(tab-medium) {
           flex-direction: column;
        }
    }

    &__box-1 {
        transition: all .4s;
        border-radius: 2%;
        grid-column: 1/2;
        grid-row: 1/2;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }
    }

    &__box-2 {
        transition: all .4s;
        border-radius: 2%;
        grid-column: 1/2;
        grid-row: 2/3;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-3 {
        transition: all .4s;
        border-radius: 2%;
        grid-column: 1/2;
        grid-row: 3/4;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }

    }

    &__box-4 {
        transition: all .4s;
        border-radius: 2%;
        grid-column: 1/2;
        grid-row: 4/5;

        &:hover {
            transform: scale(1.07);
            opacity: 0.6;
         }
    }
}

.image__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__btn {
    width: 8rem;
    margin-top: 3rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    color: $font-color2;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.137);
    background-color: $primary-lightest;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;

    @include respond(tab-medium) {
        margin-top: 2rem;
     }

     @include respond(phone-small) {
        width: 7rem;
        padding: 8px;
        margin: 10px auto;
        font-size: 10px;
    }

    &:hover {
        opacity: 0.5;
    }

    &:active {
        border: none;
    }
}
